.section__contactoprinci{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  .section__contacto{
   
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}  
}


.div__contactoprinci1{
    padding-right: 15px;
.div__contactoprinci2{
    padding-left: 15px;
}    
}