.footer{
  

.footer__titulo{
    text-align: center;
    margin-bottom: 15px;
}
.footer__contenedorfull{
    display: flex;
}
.footer__contenedorparrafo{
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
    width: 500px;
}

.footer__ul{
    list-style: none;
    .footer__li{
        margin: 0px 1rem;
    }
.footer__aul{
    text-decoration: none;
    color: black;
}}


}

.contacto__footer{
    width: 350px;
}
