.header{
    display: flex;
    align-items: center;
    padding: 15px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffd52d;
    text-align: center;

    .header__img{
    max-width: 100%;
    max-height: 100%;
 }
}

.navbar-nav{
    display: flex;
    list-style: none;
    animation: nav 1s ease-in 0s 1 normal forwards;

    .nav-item{
    margin: 0px 1rem;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
}

.nav-link:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.76);
    color:yellow ; 
}
