.section__nosotros1{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
.section__parrafos{
   
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.section__nosotros2{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
}