.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffd52d;
  text-align: center;
}

.header .header__img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-animation: nav 1s ease-in 0s 1 normal forwards;
          animation: nav 1s ease-in 0s 1 normal forwards;
}

.navbar-nav .nav-item {
  margin: 0px 1rem;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.76);
  color: yellow;
}

.main {
  overflow: hidden;
}

.section__principaldiv {
  -webkit-animation: scale-up-center 1s ease-out both;
  animation: scale-up-center 1s ease-out both;
}

.section__secundaria {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section__secundaria .section__secundariadiv1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section__secundaria .section__secautos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.section__secundaria .section__secautos .auto__home {
  width: 10rem;
  height: 10rem;
}

.section__secundaria .section__secautos .boton__flotainicio {
  margin-top: 0px;
  border-top-width: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__secundaria .section__secundariadiv2 {
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__secundaria .section__secundariadiv2 .section__maps {
  width: 90%;
  height: 57%;
  -webkit-animation: maps 2s ease-in 0s 1 normal forwards;
          animation: maps 2s ease-in 0s 1 normal forwards;
}

.section__nosotros1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__nosotros1 .section__parrafos {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.section__nosotros1 .section__nosotros2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__flotas {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__flotas .section__flotas2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__flotas .section__secautos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 25px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section__sucursales {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__sucursales .div__sucursales2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__sucursales .destino__sucursales {
  list-style: none;
}

.section__sucursales .section__sucursales2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.fran__cis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.responsivepagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section__contactoprinci {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section__contactoprinci .section__contacto {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div__contactoprinci1 {
  padding-right: 15px;
}

.div__contactoprinci1 .div__contactoprinci2 {
  padding-left: 15px;
}

.footer .footer__titulo {
  text-align: center;
  margin-bottom: 15px;
}

.footer .footer__contenedorfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__contenedorparrafo {
  text-align: left;
  margin-right: 0px;
  padding-right: 0px;
  width: 500px;
}

.footer .footer__ul {
  list-style: none;
}

.footer .footer__ul .footer__li {
  margin: 0px 1rem;
}

.footer .footer__ul .footer__aul {
  text-decoration: none;
  color: black;
}

.contacto__footer {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__secundaria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__maps {
    padding-left: 1px;
    padding-right: 1px;
  }
  .section__secautos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__responsivemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contenedorfull {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer__contenedorparrafo {
    display: contents;
  }
  .footer__responsivediv2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .responsivepagina {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fran__cis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__seccautos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .laritsu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .carousel {
    display: none;
  }
  .contacto__footer {
    width: 200px;
  }
  .sucursales__responsive {
    display: contents;
  }
  .responsive__map {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
  .footer__responsivediv2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fran__cis {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fran__cismap {
    width: 230px;
    height: 275px;
  }
  .section__secautos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__seccautos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes maps {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes maps {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes nav {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=estilos.css.map */